.container{
    padding: 20px 30px;
    background-color:rgb(180, 246, 248);
}


.more-products{
    display: flex;
}


.btn-more{
    min-width: 160px;
    margin-top: 10px;
    padding: 10px 0px;
    background-color: rgb(64, 218, 64);
    border: none;
}

.header{
    text-align: center;
    background-color: rgb(243, 83, 83);
    color: rgb(16, 16, 16)
}