<div class="container">
  <h2 class="header">New in Smart Phones</h2> 
  <div class="more-products">

    <!-- <div class="card">
      <h4 class="title">New in Iphone</h4>
      <p class="summary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolor voluptatibus, at iusto maiores iste ea! Fugit accusamus voluptates voluptate?</p>
      <button class="btn btn-more">Show more</button>
    </div>

    <div class="card">
      <h4 class="title">New in Samsung</h4>
      <p class="summary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolor voluptatibus, at iusto maiores iste ea! Fugit accusamus voluptates voluptate?</p>
      <button class="btn btn-more">Show more</button>
    </div>

    <div class="card">
      <h4 class="title">New in OnePlus</h4>
      <p class="summary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolor voluptatibus, at iusto maiores iste ea! Fugit accusamus voluptates voluptate?</p>
      <button class="btn btn-more">Show more</button>
    </div>

    <div class="card">
      <h4 class="title">New in MI</h4>
      <p class="summary">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolor voluptatibus, at iusto maiores iste ea! Fugit accusamus voluptates voluptate?</p>
      <button class="btn btn-more">Show more</button>
    </div> -->
    <app-product>
       <h4 class="title">New in IPhone</h4>
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
       <h4 class="title">New in Samsung</h4> 
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product> 
      <h4 class="title">New in OnePlus</h4> 
      <button class="btn btn-more">Show more</button>
    </app-product>
    <app-product>
       <h4 class="title">New in MI</h4> 
      <button class="btn btn-more">Show more</button>
    </app-product>
  </div>

</div>  