<div class="main-area">
    <div class="content-area">
      <div class="header">
        <h1>Employee Details</h1>
        <hr>
      </div>
      <div class="container">
        <!--Add product form-->
        <div class="form-area">
          <h3>New Employee</h3>

          <form #employeeForm="ngForm" (ngSubmit)="onEmployeeCreate(employeeForm.value)">
            <label>Employee Name</label>
            <input type="text" name="ename" ngModel>
        
            <label>Employee Description</label>
            <input type="text" name="desc" ngModel>
        
            <label>Employee Rank</label>
            <input type="text" name="rank" ngModel> 
  
            <input type="submit" value="{{editMode ? 'Update Employee' : 'Add Employee'}}">
          </form>
        </div>
  
        <!--Display product area-->
        <div class="product-display-area">
          <h3>All Employees</h3>
          <table id="products">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Rank</th>
              <th></th>
            </tr>

            <tr *ngIf="allEmployees.length < 1 && !isFetching">
              <td colspan="5">No Employee Details Available!</td>
            </tr>
            <tr *ngIf="isFetching">
              <td colspan="5">Loading...</td>
            </tr>

            <tr *ngFor="let empl of allEmployees; index as i">
              <td>{{i+1 }}</td>
              <td>{{empl.ename}}</td>
              <td>{{empl.desc}}</td>
              <td>{{empl.rank}}</td>
              <td>
                <button class="btn-delete" (click)="onDeleteEmployee(empl.id)">Delete</button>
                <button class="btn-edit" (click)="onEditClicked(empl.id)">Edit</button></td>
                </tr>
          </table>
          <hr>
          <div class="action-btn-container">
            <button class="btn-fetch" (click)="onEmployeeFetch()">Fetch Employees</button>
            <button class="btn-clear" (click)="onDeleteAllEmployee()">Clear Employees </button>
          </div>
         </div>
      </div>
    </div>
  </div>