<div class="main-area">
    <div class="content-area">
      <div class="header">
        <h1>Employee Details</h1>
        <hr>
      </div>
      <div class="container">
        <!--Add product form-->
        <div class="form-area">
          <h3>New Employee</h3>

          <form #employeeForm="ngForm" (ngSubmit)="onEmployeeCreate(employeeForm.value)">
            <label>Employee Name</label>
            <input type="text" name="ename" ngModel>
        
            <label>Employee Description</label>
            <input type="text" name="desc" ngModel>
        
            <label>Employee Rank</label>
            <input type="text" name="rank" ngModel>
  
            <input type="submit" value="Add Employee">
          </form>
        </div>
  
        <!--Display product area-->
        <div class="product-display-area">
          <h3>All Employees</h3>
          <table id="products">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>Rank</th>
              <th></th>
            </tr>
            <tr>
              <td>1</td>
              <td>Ram</td>
              <td>Java Dev</td>
              <td>A2</td>
              <td><button class="btn-delete">Delete</button></td>
            </tr>
          </table>
          <hr>
          <!-- <div class="action-btn-container">
            <button class="btn-fetch">Fetch Employee</button>
            <button class="btn-clear">Clear Employee </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>